{% extends "base.html" %}
<body>
{% block body %}
<h1>Search events by category</h1>
	<div class="dataentry">
			<form class="form-inline" name="event_form" action = "http://localhost:5000/create_event" method = post>
			<legend>Create Category</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>

               {{ form.submit }}
            </div>

         </fieldset>
</form>
{% endblock %}
