{% extends "base.html" %}
<body>
{% block body %}
<h1 style = "text-align: center; font-variant: small-caps;">CREATE AN EVENT</h1>

	<div class="dataentry">
			<form class="form-inline" name="event_form" action = "https://tranquil-chamber-88017.herokuapp.com/create_event" method = post>
			<legend style = "text-align: center;">Create Event</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>

               {{ form.category.label }}<br>
               {{ form.category }}
               <br>

               {{ form.start.label }}<br>
               {{ form.start }}
               <br>

               {{ form.end.label }}<br>
               {{ form.end }}
               <br>

               {{ form.location.label }}<br>
               {{ form.location }}
               <br>

               {{ form.submit }}
            </div>

         </fieldset>
				<!-- <div class="form-group">
					<label for="inputname">Event Name</label>
					<input type="text" id="inputname" name="Event" value="">
				</div>
				<div class="form-group">
					<label for="inputcategory">Category</label>
					<input type="text" id="inputcategory" name="Category" value="">
				</div>
				<div class="form-group">
					<label for="inputdate">Date</label>
					<input type="date" id="inputdate" name="Date" value="">
				</div>
				<div class="form-group">
					<label for="inputstarttime">Start Time</label>
					<input type="text" id="inputstarttime" name="StartTime" value="">
				</div>
				<div class="form-group">
					<label for="inputendtime">End Time</label>
					<input type="text" id="inputendtime" name="EndTime" value="">
				</div> -->
			</form>
<!-- 		</div>
	<h1>Location</h1>
	<div>
	<form class="form-inline" name="city_form">
		<div class="form-group">
			<label for="inputcity">City</label>
			<select>
			<option value=""></option>
				{% for item in res %}
				<option value={{item[1]}}>{{item[1]}}</option>
				{% endfor %}
			</select>
		</div>
		</form>
	<a target="_self" href='' onclick="this.href='localhost:5000/location" class="btn btn-info" role="button" >Next</a>
	</div> -->
{% endblock %}
</body>
