{% extends "base.html" %}
<body>
{% block body %}
<h1 style = "text-align: center; font-variant: small-caps;">CALENDAR</h1>
<br>
<div>
<a target="_self" href='https://tranquil-chamber-88017.herokuapp.com/create_event' class="btn btn-info" role="button" style = "text-align: center;" >Create Event</a>
<a target="_self" href='https://tranquil-chamber-88017.herokuapp.com/create_category' class="btn btn-info" role="button" style = "text-align: center;" >Create Category</a>
<br>
</div>
  <div>
  	<table class="table table-striped">
  		<tr><th>Name</th><th>Category</th><th>Start</th><th>End</th><th>Location</th></tr>
		{% for item in res %}
		<tr><td>{{ item [1] }}</td>
		<td> {{ item[2] }} </td>
		<td> {{ item[3] }} </td>
		<td> {{ item[4] }}</td>
		<td> {{ item[5] }} </td></tr>
		{% endfor %}
	</table>
	</div>
{% endblock %}
</body>
